@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,300&display=swap');


* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: 'Inter Tight', sans-serif;;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
	padding: 1em;
	margin-bottom: .5em;
	text-align: center;
	font-size: 1.5em;
	display: inline-block;
}
button {
	padding: 1em;
	border: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}
@media (max-width: 500px) {
	span {
		display: inline-block;
		text-align: center;
		margin: 1em auto;
		width: 100%;
	}
	p {
		padding: .5em;
		width: 10em;
	}
}
@media (max-width: 500px) {
	p {
		padding: .5em;
		width: 10em;
		font-size: 1.2em;
	}
}
